EXCELSA 2019 SALES

In [1]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,YEAR TO DATE INCOME OVERVIEW,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,MONTH,ACCOMODATION\n SALES,CONFERENCE\n SALES,RESTAURANT\n SALES,BAR\n SALES,POOL\n SALES,HIRING,MISCELLA,MONTHLY TOTAL
1,JAN,6980,864,2433,1715,3256,0,50,15298
2,FEB,10200,58300,26792,3282,1401,0,0,99975
3,MARCH,12095,34800,9345,2117,2355,0,1500,62212
4,APR,5900,44210,4080,2224,2113,0,70,58597